body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

header{
    background-color: #212623;
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: flex-start;
}

nav{
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
}

.containernav{
    display: inline;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

a:hover{
    color: rgb(50, 255, 50);
}

.division a:hover{
    color: white;
}

.containerlogo{
    width: 10%;
    height: auto;
}

img{
    width: 90px;
    height: 70px;
    margin-left: 20px;
    margin-top: 20px;
}

.containerserach{
    width: 20%;
}


/* Search bar */
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* blocos */

.containerheadlines{
    width: 100%;
    height: 500px;
    background-color: green;
}

.block1{
    width: 35%;
    height: 85%;
    background-image: url(img/smartwatch.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.block1 p{
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 25px;
    margin-left: 20px;
}


.block2{
    width: 35%;
    height: 35%;
}
