.header_container{
    background-color: #212623;    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

nav{
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
}

.containernav{
    width: 100%;
}

.containernav ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    align-items: center;
}

.containernav ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

a:hover{
    color: rgb(50, 255, 50);
}

.division a:hover{
    color: white;
}

.containerlogo{
    width: 10%;
    height: auto;
}

img{
    width: 90px;
    height: 70px;
    margin-left: 20px;
    margin-top: 20px;
}

.containersearch{
    width: 20%;
}

.containerheadlines{
    height: 400px;
    padding: 20px;
    background-color: green;
    display: flex;
    gap: 20px;
    box-sizing: border-box;
}

.block1{
    width: 30%;
    height: 100%;
    background-image: url(img/smartwatch.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.block1 a{
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 5%;
}

.containermid{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block2{
    width: 100%;
    height: 50%;
    background-image: url(img/curso.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.block2 a{
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 12px;
    margin-left: 5%;
    margin-bottom: 5%;    
}

.block3{
    width: 100%;
    height: 50%;
    background-image: url(img/ia.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;    
}

.block3 a{
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 12px;
    margin-left: 5%;
    margin-bottom: 5%;    
}

.block4{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.block4 ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.block4 li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 12px;
}
